.service-head{
    text-align: center;
    color: #181E4E;
}
.service-wrapper {
  background-color: #285c90;
  color: white;
  display: flex;
  width: 90%;
  font-family: DM Sans, sans-serif;
  justify-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
  margin: 0 auto;
}
.service-wrapper > .left-txt {
  width: 40%;
}

.left-txt > h1 {
  font-weight: 700;
  font-size: 3.5rem;
}
.right-txt {
  width: 50%;
}
.service-wrapper .right-txt > button {
  padding: 1rem 1.75rem;
  background-color: #181e4e;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-weight: 400;
  transition: 0.1s;
  font-weight: 600;
  letter-spacing: 2px;
  box-shadow: rgb(244 244 245) 9px 10px 9px -6px;
  cursor: pointer;
}
.right-txt > button:hover {
  color: #181e4e;
  background-color: #fff;
  border: 1px solid #181e4e;
  box-shadow: #181e4e 9px 15px 15px -6px;
  border-radius: 10px;
}

.right-txt > ul > a{
  color: white;

}
.right-txt > ul li{
  margin: 1rem 0;
}
.right-txt > ul li:hover{
  font-weight: 700;
}

@media screen and (max-width: 730px ) {
  .service-wrapper {
    display: flex;
    flex-flow: column;
  }
  .service-wrapper > .left-txt,  .right-txt {
    width: 100%;
    
  }.right-txt > button {
    margin-top: 2rem;
  }
  .left-txt > h1{
    font-size: 3rem;
  }
}