.communities-wrapper {
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
}
.comm-links {
  justify-content: center;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.com-cont-left {
  max-width: 40%;
}
.com-cont-left > h6,
.user > h6 {
  font-weight: 600;
  color: #285c90;
}
.main-cont {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: 1 1;
  flex-wrap: wrap;
  color: black;
}
.com-price {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 0;
}
.price-left h5,
.price-right h5 {
  font-weight: 600;
  font-size: 1.5rem;
}
.price-left p,
.price-right p,
.user > p,
.com-cont-left > p {
  color: gray;
  font-size: 0.85rem;
}
.right > img {
  width: 100%;
}




@media screen and (max-width: 1060px) {
  .com-cont-left {
    max-width: 100%;
  }
  .main-cont {
    align-items: center;
    justify-content: center;
  }
}

.comm-links button.active {
  font-weight: 700;
  color: #285c90;
  border-bottom: 2px solid #285c90;
}
.comm-links > button{
     background-color: transparent;
    outline: none;
    border: none;
    font-weight: 600;
    color: rgb(95, 95, 95);
}
