.lionCont-wrapper {
  display: flex;
  align-items: flex-end; /* Updated from 'end' */
  background-image: url(/public/lion.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Added to make the background image cover the entire container */
  height: 100%;
  color: white;
  padding: 7rem 1rem;
  justify-content: flex-end;
}

.lionCont-left {
  width: 50%;
}

.lionCont-left-txt > h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.lionCont-left-txt > h1 > span {
  color: #1dc2cc;
}

.lionCont-left-txt > p {
  width: 80%;
  margin-top: -1rem;
  font-weight: 700;
  font-size: 1.2rem;
}

@media screen and (max-width: 1145px) {
  .lionCont-left,
  .lionCont-left-txt {
    width: 100%;
  }

  .lionCont-left-txt > p {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {  
  .lionCont-wrapper {
    padding: 2rem;
    gap: 0;
  }

    .lionCont-left-txt > h1 {
    font-size: 3rem;
    font-weight: 600;
  }
}
