.footer-logo {
  text-align: center;
  margin: 10px 0;
  padding-top: 1rem;
  border-top: 1px solid #dddada;
}
.footer-logo > img {
  width: 230px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 2rem;
  background-color: #285c90;
  gap: 1rem;
  color: white;
  flex-wrap: wrap;
}
.list > ul > h4 {
  margin-bottom: 10px;
}
.list > ul > li,
.list > ul > a > li {
  list-style: none;
  line-height: 1.7rem;
}
.list > ul > li:hover,
.list-1 ul a:hover {
  font-weight: 700;
}

.list > ul a {
  color: white;
}

.footer-bottom {
  align-items: center;
  border-top: 1px solid #bebcbc;
  border-bottom: 1px solid #bebcbc;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fff;
  color: black;
}
.bottom-left {
  display: flex;
  align-items: center;
}
.bottom-left .icon {
  color: red;
  font-size: 2rem;
  margin-right: 10px;
}
.bottom-left > h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #2b315d;
}
.bottom-left > h1 > a {
  color: #2b315d;
}

.bottom-right-address,
.bottom-right-email {
  display: flex;
  align-items: center;
}
.bottom-right-email > span > a,
.bottom-right-address > span > a {
  color: black;
}
.bottom-right-address > span,
.bottom-right-email > span {
  margin-left: 10px;
}
.add-icon,
.mail-icon {
  font-size: 1.35rem;
  margin-top: 5px;
}

.power-container {
  background-color: #285c90;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
}
.power-inner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.powered-img {
  height: 8vh;
  margin-left: 1rem ;
}

@media screen and (max-width: 700px) {
  .bottom-left {
    margin-top: 1rem;
  }
  .bottom-left > h1 {
    text-align: center;
    font-size: 2rem;
    display: inline-block;
  }
  .bottom-right {
    margin-bottom: 10px;
  }
  .footer-wrapper > p {
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .powered-img{
    height: 6vh;
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 400px) {
  .footer-links {
    display: flex;
    justify-content: flex-start;
  }
  .bottom-left {
    display: flex;
    flex-flow: column;
  }
}
